{% extends 'base.html' %}

{% block title %}BrandGhost - Welcome!{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Welcome to BrandGhost</h1>
            <h3 class="lead md-8">Sell online with ease!</h3>
            <p class="mt-6">BrandGhost is a Backend as a Service (BaaS) platform for creating a full-functioning brand service!</p>
            <p>It creates an API for your frontend, making e-commerce platform creation into a breeze!</p>
        </div>
        <p class="text-center">Project built with Django!</p>
    </div>
</div>
{% endblock %}